.calc{
    width: 35%;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  -20px 20px 60px #bebebe,
            20px -20px 60px #ffffff;
}

#display {
    text-align: right;
    height: 100px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 40px;
    color:whitesmoke;
    background-color: #171717;
    
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:whitesmoke
}

.button {
    line-height: 70px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#operater{
    background-color: rgb(85, 85, 255);
    
}
#equal {
    background-color: rgb(85, 85, 255);
}
#operater:hover{
    background-color: rgb(38, 38, 255);
    
}
#equal:hover {
    background-color: rgb(67, 67, 255);

}

.button:hover {
    background-color: #111111;
    color: white;
    transition: 0.5s ease-in-out;
}